<h2>Products</h2>
<!-- /*first card */ -->
<div *ngFor="let product of products" class="card">
  <div class="container">
    <h3>
      <a [title]="product.name + ' details'">
        {{ product.name }}
      </a>
    </h3>
    <div class="float-container">
      <p *ngIf="product.description">Description: {{ product.description }}</p>
      <div class="float-child">
        <button type="button" (click)="share()">Share</button>
      </div>
      <div class="float-child">
        <button type="button" (click)="share()">Notify Me</button>
      </div>
    </div>
  </div>
</div>
